version: 2 # use CircleCI 2.0
jobs:
  build test and deploy to Docker:
    docker:
      - image: circleci/python:2.7.14
        environment:
          FLASK_CONFIG: testing
    steps:
      - checkout
      - run:
          name: Setup Staging VirtualEnv
          command: |
            echo "IMAGE_TAG=0.1.${CIRCLE_BUILD_NUM}" >> staging.sh
            virtualenv python-flask-docker-env
            . python-flask-docker-env/bin/activate
            pip install --no-cache-dir -r requirements.txt
      # - run:
      #     name: Run Tests
      #     command: |
      #       . helloworld/bin/activate
      #       python test_hello_world.py
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build and push Docker image
          command: |
            . python-flask-docker-env/bin/activate
            source staging.sh
            docker build -t ${DOCKER_LOGIN}/${IMAGE_NAME}:${IMAGE_TAG} .
            echo $DOCKER_PWD | docker login -u $DOCKER_LOGIN --password-stdin
            docker push ${DOCKER_LOGIN}/${IMAGE_NAME}:${IMAGE_TAG}
            
      
  deploy to staging env:
    docker: 
      - image: google/cloud-sdk
    steps:
      - checkout
      - run:
            name: Access google glcoud 
            command: |
              source deploy.sh
            

workflows:
  version: 2
  build_and_test:
    jobs:
      - build test and deploy to Docker
      - deploy to staging env:
          requires:
            - build test and deploy to Docker