version: 2 # use CircleCI 2.0
jobs:
  build:
    docker:
      - image: circleci/python:2.7.14
      - image: google/cloud-sdk
        environment:
          FLASK_CONFIG: testing
    steps:
      - checkout
      - run:
          name: Setup Staging VirtualEnv
          command: |
            virtualenv python-flask-docker-env
            . python-flask-docker-env/bin/activate
            pip install --no-cache-dir -r requirements.txt
      # - run:
      #     name: Run Tests
      #     command: |
      #       . helloworld/bin/activate
      #       python test_hello_world.py
      - setup_remote_docker:
          docker_layer_caching: true
      - run:
          name: Build and push Docker image
          command: |
            . python-flask-docker-env/bin/activate
            source staging.sh
            docker build -t ${GITHUB_REPO}/${IMAGE_NAME}:${IMAGE_TAG} .
            echo $DOCKER_PWD | docker login -u $DOCKER_LOGIN --password-stdin
            docker push ${GITHUB_REPO}/${IMAGE_NAME}:${IMAGE_TAG}
      - run:
           name: Access google glcoud 
          command: |
            source deploy.sh
      
  # deploy:
  #   docker: 
  #     - image: google/cloud-sdk
  #   steps:
  #     - checkout
  #     - run:
  #           name: Access google glcoud 
  #           command: |
  #             source deploy.sh
            

# workflows:
#   version: 2
#   build_and_test:
#     jobs:
#       - build
      # - deploy:
      #   requires:
      #     - build